{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block h1 %}
		<h1>Nouvelle categorie</h1> 
	{% endblock %}

{% block body %}


    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">back to list</a>
{% endblock %}
